attrs==20.1.0
click==8.0.1
coverage==5.2.1
Flask==2.0.1
iniconfig==1.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
pytest-cov==2.10.1
-e git+https://github.com/aeronautical-systems/Python-SimConnect@6fdae339f752253aa2a45cc2d21b221458c4c459#egg=SimConnect
six==1.15.0
toml==0.10.1
Werkzeug==2.0.1
