attrs==19.3.0
coverage==5.2
importlib-metadata==1.7.0; python_version < '3.8'
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest-cov==2.10.0
pytest==5.4.3
six==1.15.0
wcwidth==0.2.5
zipp==3.1.0