<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Attitude Indicator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/attind_style.css" />
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Set script root-->
  <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  </head>

<body>

<div class="casing">
  <div class="inner-case">
    <div class="case-control">
      <div class="weight">
        <div class="up-chevron">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="aircraft">
          <div class="left"></div>
          <div class="centre"></div>
          <div class="right"></div>
        </div>
      </div>

      <div class="mechanism">
        <div class="back sky"></div>
        <div class="back terrain"></div>

        <div class="roll">
          <div class="roll-lines">
            <div id="zero"></div>
            <div id="fortyfive-left"></div>
            <div id="fortyfive-right"></div>

            <div id="thirty-left"></div>
            <div id="thirty-right"></div>
            <div id="sixty-left"></div>
            <div id="sixty-right"></div>

            <div id="ninety-left"></div>
            <div id="ninety-right"></div>
          </div>
        </div>

        <div class="ball">
          <div class="pitch-lines">
            <div id="twenty"></div>
            <div id="fifteen" class="small"></div>
            <div id="ten"></div>
            <div id="five" class="small"></div>

            <div id="minus-five" class="small"></div>
            <div id="minus-ten"></div>
            <div id="minus-fifteen" class="small"></div>
            <div id="minus-twenty"></div>
          </div>

          <div class="sky"></div>
          <div class="terrain"></div>
        </div>
      </div>
    </div>

    <div class="panel">
      <ul class="labels">
        <li>STBY</li>
        <li>PWR</li>
        <li>TEST</li>
      </ul>
      <ul>
        <li class="light standby off"></li>
        <li class="light power"></li>
        <li class="light test"></li>
      </ul>
    </div>
  </div>

  <div class="cage-toggle">PULL TO CAGE</div>
</div>

<script src="static/js/attind_script.js"></script>
</body>
</html>