<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

</head>
<body>


<script>

    $(function() {
        $('a#calculate').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/ui', {}, function(data) {
                $("#altitude").text(data.ALTITUDE);
                $("#fuel_percentage").text(data.FUEL_PERCENTAGE);
            });
        return false;
        });
    });

</script>

<h1>jQuery Example</h1>
<p>Altitude = <span id=altitude>?</span>
<p>Fuel Percentage = <span id=fuel_percentage>?</span>
<p><a href=# id=calculate>calculate server side</a>


</body>
</html>