name: Test and Publish
on: 
  push:
    branches:
      - master

jobs:
  test:
    name: coverage
    runs-on: ubuntu-latest
    # Service containers to run with `container-job`
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@master
        with:
          python-version: "3.8"
      - uses: paambaati/codeclimate-action@v2.5.3
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CodeClimate }}
        with:
          coverageCommand: make test

  build-n-publish:
    needs: test
    name: Build and publish Python distributions to PyPI
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: python3 -m pip install --user --upgrade setuptools wheel twine
      - name: Build source
        run: python3 setup.py sdist bdist_wheel
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}